DROP DATABASE ayurvedicCenter;

CREATE DATABASE ayurvedicCenter;

USE ayurvedicCenter;

CREATE TABLE Employee (
                          emp_id INT AUTO_INCREMENT PRIMARY KEY,
                          emp_fName VARCHAR(100) NOT NULL,
                          emp_lName  VARCHAR(50) NOT NULL ,
                          address VARCHAR(100),
                          contact_num CHAR(10) NOT NULL,
                          email VARCHAR(100) NOT NULL,
                          role VARCHAR(30) NOT NULL
);

CREATE TABLE Doctor (
                        doc_id INT AUTO_INCREMENT PRIMARY KEY,
                        doc_fName VARCHAR(50) NOT NULL,
                        doc_lName VARCHAR(50) NOT NULL ,
                        address VARCHAR(100) NOT NULL ,
                        contact_num VARCHAR(10) NOT NULL,
                        email VARCHAR(100) NOT NULL,
                        doc_charges DECIMAL(10,2) NOT NULL
);


CREATE TABLE User (
                      user_id INT AUTO_INCREMENT PRIMARY KEY,
                      emp_id INT NULL,
                      doc_id INT NULL,
                      username VARCHAR(50) UNIQUE NOT NULL,
                      password VARCHAR(20) NOT NULL,
                      FOREIGN KEY (emp_id) REFERENCES Employee(emp_id),
                      FOREIGN KEY (doc_id) REFERENCES Doctor(doc_id)
);

CREATE TABLE Patient (
                         patient_id INT AUTO_INCREMENT PRIMARY KEY,
                         user_id INT NOT NULL,
                         patient_fName VARCHAR(100) NOT NULL,
                         patient_lName VARCHAR(100) NOT NULL,
                         patient_nic VARCHAR(12) NOT NULL,
                         contact_num VARCHAR(10) NOT NULL,
                         address VARCHAR(150) NOT NULL,
                         gender VARCHAR(10) NOT NULL,
                         date_of_birth DATE NOT NULL,
                         patient_since DATE NOT NULL,
                         FOREIGN KEY (user_id) REFERENCES User(user_id)
);


CREATE TABLE Treatment (
                           treatment_id INT AUTO_INCREMENT PRIMARY KEY,
                            treatment_name VARCHAR(100),
                           treatment_type VARCHAR(50) NOT NULL,
                           treatment_charges DECIMAL(10,2) NOT NULL,
                           description VARCHAR(300)
);


CREATE TABLE Appointment (
                             appointment_id INT AUTO_INCREMENT PRIMARY KEY,
                             doc_id INT NOT NULL,
                             patient_id INT NOT NULL,
                             appointment_date DATE NOT NULL,
                             doc_charges DECIMAL(10,2) NOT NULL,
                             treatment_charges DECIMAL(10,2),
                             prescription_charges DECIMAL(10,2),
                             total_charges DECIMAL(10,2),
                             app_statues VARCHAR(20),
                             app_type VARCHAR(20),
                             FOREIGN KEY (doc_id) REFERENCES Doctor(doc_id),
                             FOREIGN KEY (patient_id) REFERENCES Patient(patient_id)
);





CREATE TABLE App_Treatment (
                               app_treatment_id INT AUTO_INCREMENT PRIMARY KEY,
                               appointment_id INT NOT NULL,
                               treatment_id INT NOT NULL,
                                treatment_name VARCHAR(100) NOT NULL ,
                                date DATE NOT NULL ,
                               FOREIGN KEY (appointment_id) REFERENCES Appointment(appointment_id),
                               FOREIGN KEY (treatment_id) REFERENCES Treatment(treatment_id)
);


CREATE TABLE Medicine (
                          med_id INT AUTO_INCREMENT PRIMARY KEY,
                          med_name VARCHAR(100) NOT NULL,
                          description VARCHAR(300),
                          stock_qty INT NOT NULL,
                          unit_price DECIMAL(10,2) NOT NULL
);

CREATE TABLE Prescription (
                              prescription_id INT AUTO_INCREMENT PRIMARY KEY,
                              appointment_id INT NOT NULL,
                              diagnosis_details VARCHAR(150),
                              next_visit_date DATE,
                              FOREIGN KEY (appointment_id) REFERENCES Appointment(appointment_id)
);
DROP TABLE Prescription;
CREATE TABLE Prescription_Med (
                                  prescription_med_id INT AUTO_INCREMENT PRIMARY KEY,
                                  prescription_id INT NOT NULL,
                                  med_id INT NOT NULL,
                                  medicine_name VARCHAR(50),
                                  medicine_qty INT,
                                  med_instruction VARCHAR(100) ,
                                  FOREIGN KEY (prescription_id) REFERENCES Prescription(prescription_id),
                                  FOREIGN KEY (med_id) REFERENCES Medicine(med_id)
);


INSERT INTO Employee (emp_id, emp_fName, emp_lName, address, contact_num, email, role) VALUES
                                                                                           (1,'Oshadi','Gamage','Galle','0713510948','oshadi@gmail.com','receptionist');

INSERT INTO Doctor (doc_fName, doc_lName, address, contact_num, email, doc_charges) VALUES
                                                                                        ('Amarasena','Gunasinghe','Galle','0773510948','amarasena@gmail.com',500.00);

INSERT INTO User (user_id,emp_id, username, password) VALUES
                                                  (1,1,'ADMIN','123');
INSERT INTO User (user_id, doc_id, username, password)  VALUES
                                                            (2,1,'OWNER','789');





